{% extends 'base.html' %}
{% load static %}

{% block links %}
	<a href="{% static '../logout/' %}">logout</a>   |
	<a href="{% static '../home/' %}">home</a>   |
	
{% endblock %}

{% block content %}
	<p><centre>Change Your Password .....!!</centre></p>
    <form method="POST" >
        {% csrf_token %}
        <table border="1">
             {{ form.as_table }}
        </table>
    	<input id="submit" type="submit" value="Change Password" />
	</form>
	<div class="error">
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li>
					{{ message }}
				</li>
			{% endfor %}
		{% endif %}
	</div>
	

{% endblock %}
